/* App styles */


/* Layout */

.container {
    margin: 0 1em;
    width: auto;
}

.inner-container {
    margin: 0 1em;
}


/**
 * Navigation
 */

.title {
    overflow: hidden;
    line-height: 2.5em;
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: left;
}

.nav-main, .nav-user {
    width: 50%;
}

.nav-main {
    float: left;
}

.nav-main a {
    color: #ddd;
    text-decoration: none;
}
.nav-main a:hover {
    color: #fff;
    text-decoration: underline;
}

.nav-main small {
    color: #999;
}

.nav-user {
    float: right;
    text-align: right;
}

.nav-user li {
    margin-left: 1em;
}
.nav-user li a {
    color: #bbb;
    text-decoration: none;
}
.nav-user li a:hover {
    color: #fff;
}

.nav-user .avatar {
    vertical-align: middle;
    height: 2.5em;
}


/**
 * Tools top bar
 */

.tools-top {
    text-align: right;
}
.tools-top a {
    display: inline-block;
    color: #050;
    font-weight: 400;
    padding: 0 1em;
}
.tools-top a:last-child {
    padding-right: 0;
}
.tools-top a:hover {
    color: #000;
}


/**
 * Forms
 */
.form-block {
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 1em;
    padding: 1em;
}
form .controls {
    margin-bottom: 1em;
}


/**
 * Rooms index
 */

.rooms-list a {
    text-decoration: none;
    display: block;
}
.rooms-list a:hover {
    background: #ddd;
}
.rooms-list .room-title {
    color: #111;
    text-decoration: underline;
}
.rooms-list .room-description {
    margin: 0;
    color: #222;
}
.rooms-list .room-updated {
    font-size: 0.8em;
}


/**
 * Chat Room
 */
.room-header .tools-top {
    float: right;
}
.chat-room .container {
    width: 100%;
    margin: 0;
}
.chat-room .chat {
    margin: 7em 0 2.25em;
}
.chat-room .title {
    position: fixed;
    z-index: 9;
    width: 100%;
}
.chat-room footer {
    display: none;
}
.chat-room .room-header {
    position: fixed;
    display: block;
    z-index: 8;
    width: 100%;
    margin-top: 2.5em;
    padding-top: 0.1em;
    background: #eee;
    box-shadow: 0 5px 5px #ccc;
}
.form-room {
    position: fixed;
    top: 5em;
    right: 1em;
    z-index: 13;
}


/**
 * Chat room message form
 */
.chat-room .form-message {
    position: fixed;
    z-index: 9;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0.25em 0;
    background: #eee;
    border-top: 1px solid #ccc;
}
.chat-room .form-control {
    font-size: 90%;
    height: 3em;
    padding: 0.25em;
    margin: 0 1em;
    vertical-align: middle;
    font-weight: 200;
}
.chat-room .form-message .submit {
    width: 4em;
    text-align: center;
}
.chat-room .form-message .submit small {
    color: #777;
    font-size: 0.6em;
}
.chat-room .form-message .message textarea {
    width: 95%;
    line-height: 1em;
}

.chat-room table {
    width: 100%;
}
.chat-room .form-message .button {
    width: 4em;
}

/**
 * Chat room messages
 */
.chat {
    padding: 0.25em;
    background: #eee;
    width: 100%;
}
.chat .room-message {
    border-top: 1px dotted #fff;
    margin: 0;
    padding: 0.15em 1em 0.3333em;
}
.chat .room-message:last-child {
    border-top: none;
}
.chat .room-message .avatar {
    vertical-align: middle;
    margin-right: 0.5em;
}
.chat .room-message .name {
    color: #777;
    background: #ddd;
    font-weight: 400;
    white-space: nowrap;
    width: 2%;
    text-align: right;
    padding: 0 0.25em 0 1em;
}
.chat .room-message .date {
    font-size: 0.6em;
    color: #777;
    white-space: nowrap;
    width: 2%;
    text-align: right;
    padding-right: 1.6666667em;
}
.chat .room-message .message {
    color: #000;
    padding: 0 0.25em 0.5em;
}

.chat .my-msg {
    background: #f9f9f9;
}
.chat .my-msg .name {
    background: #eee;
    color: #444;
}